body {
    }
header img {
  width: 40px;
}
header {
  background-image:url(./images/payments-banner-graphic.png);
  color: white;
    }
#droite {
  float:right;
}
#centre {
text-align: center;
}
#qbs {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}
#q {
  text-align: center;
  float: left;
  width: 33%;
  position: relative;
  display: inline-block;
}
#b {
  text-align: center;
  float: none;
  width: 33%;
  position: relative;
  display: inline-block;
}
#s {
  text-align: center;
  float: right;
  width: 33%;
  position: relative;
  display: inline-block;
}
